<%= form_tag(@landmark_names) do |ln| %>
<p><%= check_box_tag("landmark_names[]") %>
<%= ln %></p>


 <div class="field">
   <%= f.label :name %><br>
   <%= f.check_box :complete %>
 </div>
 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>
